@font-face {
  font-family: 'Montserrat';
  // font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium.eot');
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
       url('../fonts/Montserrat-Medium.woff') format('woff'),
       url('../fonts/Montserrat-Medium.ttf') format('truetype'),
       url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
       url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  // font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
       url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.ttf') format('truetype'),
       url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
       url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  // font-family: 'Montserrat-ExtraLight';
  src: url('../fonts/Montserrat-ExtraLight.eot');
  src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
       url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
       url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'),
       url('../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg'),
       url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}
// -------------- END Monserrat
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Medium.eot');
  src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
       url('../fonts/Raleway-Medium.woff') format('woff'),
       url('../fonts/Raleway-Medium.ttf') format('truetype'),
       url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg'),
       url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.eot');
  src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
       url('../fonts/Raleway-Regular.woff') format('woff'),
       url('../fonts/Raleway-Regular.ttf') format('truetype'),
       url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg'),
       url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.eot');
  src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
       url('../fonts/Raleway-SemiBold.woff') format('woff'),
       url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
       url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg'),
       url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraBold.eot');
  src: url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
       url('../fonts/Raleway-ExtraBold.woff') format('woff'),
       url('../fonts/Raleway-ExtraBold.ttf') format('truetype'),
       url('../fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg'),
       url('../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
// -------------
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/Roboto-Regular.woff') format('woff'),
       url('../fonts/Roboto-Regular.ttf') format('truetype'),
       url('../fonts/Roboto-Regular.svg#Raleway-ExtraBold') format('svg'),
       url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}


