$lightbrown : #d3c1ad;
$brown : #998675;
$darkbrown : #736357;
$bej : #c7b299;
$gray : #555;
$lightgray : #f1eee9;

$agvantages : clients, cups, blog, likes, launched;

$postsItem : leg, computer, ship;

$aboutItems : webAppDesign, development, customization, marketing;